[package]
name = "mirrorlist-server"
version = "3.0.2"
authors = ["Adrian Reber <adrian@lisas.de"]
edition = "2018"

[profile.release]
lto = true

[dependencies]
hyper = "0.13"
log = "0.4"
pretty_env_logger = "0.4"
chrono = "0.4"
protobuf = "2.14.0"
url = "2.2.0"
regex = "1"
ipnet = "2.3.0"
treebitmap = "0.4.0"
maxminddb = "0.17.2"
rand = "0.8"
itertools = "0.10.0"
getopts = "0.2"
diesel = { version = "1.4.5", features = ["postgres"] }
dotenv = "0.15.0"
dns-lookup = "1.0.5"
ipnetwork = "0.17.0"
indicatif = "0.15.0"
console = "0.14.1"

[dependencies.tokio]
version = "1.4.0"
features = ["macros", "rt-multi-thread"]

[build-dependencies]
protobuf-codegen-pure = "2.14.0"

[dev-dependencies]
tempfile = "3.2.0"
