[package]
name = "mirrorlist-server"
version = "2.3.0"
authors = ["Adrian Reber <adrian@lisas.de"]
edition = "2018"

[profile.release]
lto = true

[dependencies]
hyper = "0.13"
log = "0.4"
pretty_env_logger = "0.4"
chrono = "0.4"
protobuf = "2.14.0"
url = "2.1.1"
regex = "1"
ipnet = "2.3.0"
treebitmap = "0.4.0"
maxminddb = "0.13.0"
rand = "0.7"
itertools = "0.9.0"
getopts = "0.2"

[dependencies.tokio]
version = "0.2.21"
features = ["macros"]

[build-dependencies]
protobuf-codegen-pure = "2.14.0"
