name: Rust

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres
        env:
          POSTGRES_DB: test_db
          POSTGRES_PASSWORD: test_password
          POSTGRES_USER: test_user
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432

    steps:
    - uses: actions/checkout@v4
    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y protobuf-compiler postgresql-client
    - name: Build
      run: cargo build --verbose
    - name: Run clippy
      run: cargo clippy --all-targets --verbose -- -D warnings
    - name: Check formatting
      run: cargo fmt --check
    - name: Prepare database
      run: PGPASSWORD=test_password psql -h localhost -U test_user test_db < testdata/database-setup.sql
    - name: Run tests
      run: TEST_DATABASE_URL="postgresql://test_user:test_password@localhost/test_db" cargo test --verbose -- --test-threads=1
